- if @washroom.errors.any?
  %ul
    - @washroom.errors.full_messages.each do |message|
      %li message
= simple_form_for @washroom, html: {class: "form-horizontal"} do |f|
  = f.input :name, label: "Washroom Name", input_html: {class: "form-control"}
  %br/
  = f.input :address
  %br/
  = f.collection_check_boxes :person_ids, Person.order("title"), :id, :title, item_wrapper_class: "form-group"
  %br/
  = f.submit class: "btn btn-primary"