%h1= @washroom.name
%p= @washroom.address
%p
Created On: #{@washroom.created_at.strftime("%Y-%b-%d")}
%br
- if @washroom.people.present?
    Type: (#{@washroom.people.count}):
    = @washroom.people.map(&:title).join(", ")
    %br
= link_to "Edit", edit_washroom_path(@washroom)
%br
= button_to "Delete", @washroom, method: :delete, data: {confirm: "Are you sure? It's gone for good!"}
%br
= link_to "All Washrooms", washrooms_path
%br